<div class="global-nav-inner">
 <div class="container"> 
 	<div class="header-nav" style="display: inline-block;">
		 <ul class="nav js-global-actions" id="header-nav-actions">
			 	<li id="global-nav-home" class="home active new pull-left" data-global-action="home">
			        <a class="js-nav js-tooltip js-dynamic-tooltip" data-placement="bottom" href="/" data-component-context="home_nav" data-nav="home" data-original-title="">
			          <span class="text">Home</span>
			        </a>
			      </li>
			      <li class="people notifications pull-left" data-global-action="connect">
			        <a class="js-nav js-tooltip js-dynamic-tooltip" data-placement="bottom" href="/i/notifications" data-component-context="connect_nav" data-nav="connect" data-original-title="">
			          <span class="text">Notifications</span>
			            <span class="count">
			              <span class="count-inner">0</span>
			            </span>
			        </a>
			      </li>
			      <li class="dm-nav pull-left">
			        <a role="button" href="#" class="js-tooltip js-dynamic-tooltip global-dm-nav" data-placement="bottom" data-original-title="">
			          <span class="text">Messages</span>
			          <span class="dm-new"><span class="count-inner"></span></span>
			        </a>
			      </li>
		     </ul>
	  </div>
 </div>
</div>