<div class="campus-news module">
    <h3 class="module-header">
        Campus News
    </h3>
    <div class="news-item">
        <div class="content">
            <a class="college-name">
                <span class ="college-name-inner">
                    <b class="name">NIT Warangal</b>
                </span>
            </a>
            <div>
                Technozion registrations have started, let's rock the stage.
            </div>
        </div>
        <div class="content">
            <a class="college-name">
                <span class ="college-name-inner">
                    <b class="name">IIT Bombay</b>
                </span>
            </a>
            <div>
                Christopher Nolan is going to visit for this year's Saarang.
            </div>
        </div>
        <div class="content">
            <a class="college-name">
                <span class ="college-name-inner">
                    <b class="name">ANITS</b>
                </span>
            </a>
            <div>
                Computer Science student wrote an algorithm to play any kind of sudoku
            </div>
        </div>
        <div class="content">
            <a class="college-name">
                <span class ="college-name-inner">
                    <b class="name">GITAM</b>
                </span>
            </a>
            <div>
                Chandra Babu Naidu has visited GITAM College to inaguarate new Research Labs.
            </div>
        </div>
    </div>
</div>