<div class="pin-message-container">
    <div class="pin-message-box">
        <div class="pin-message editor">
            <div class="messsage-input-box" contenteditable="true" spellcheck="true" placeholder="Pin something on Board">
            <div>Pin Something on Board</div>
            </div>
        </div>
        <div class="toolbar">
            <div class="pin-message-options">
                <div class="photo-selector">
                    <button class="btn btn-primary camera-button" data-toggle="tooltip"
                            title="Add photos">
                        <span class="glyphicon glyphicon-camera"></span>
                        <span class="text tag-label">
                            Photo
                        </span>
                    </button>
                </div>
                <div class="tag">
                    <button class="btn btn-primary tag-button"  title="Tag"
                            data-toggle="tooltip">
                        <span class="glyphicon glyphicon-camera"></span>
                        <span class="text tag-label">
                            Tag
                        </span>
                    </button>
                </div>
            </div>
            <div>
                <span class="spinner"></span>
                <button class="btn btn-primary pin-button">
                    <span class="glyphicon glyphicon-pushpin"></span>
                   <span class="text tag-label">
                    Pin
                  </span>
                </button>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>