<div class="pin-message-container">
    <div class="pin-message-box">
        <div class="pin-message editor">
            <div contenteditable="true" spellcheck="true" placeholder="Pin something on Board">
            </div>
        </div>
        <div class="toolbar">
            <div class="pin-message-options">
                <span class="TweetBox-mediaPicker">
                    <div class="photo-selector">
                        <button aria-hidden="true" class="btn icon-btn js-tooltip" type="button" tabindex="-1"
                                data-original-title="Add photos or video">
                            <span class="pin-camera Icon Icon--camera"></span>
                        <span class="text add-photo-label">
                            Media
                        </span>
                        </button>
                    </div>
                </span>
                <div class="tag">
                    <button class="btn icon-btn js-tooltip" type="button" title="Tag"
                            data-delay="150">
                        <span class="Icon"></span>
                        <span class="text tag-label">
                            Tag
                        </span>
                    </button>
                </div>
            </div>
            <div class="pin-button">
                <span class="spinner"></span>
                <button class="btn primary-btn" type="button">
                  <span class="button-text">
                    <span class="Icon Icon-something"></span>
                    Tweet
                  </span>
                </button>

            </div>
        </div>
    </div>
</div>