<div class="sidebar">
     <div class="sidebar-section">
         <h3>Classifieds</h3>
         <ul class="sidebar-list-container">
                <li>Mobiles</li>
                <li>Books</li>
                <li>Others</li>
         </ul>
     </div>
    <div class="sidebar-section">
        <h3>News Letter</h3>
    </div>
    <div class="sidebar-section">
        <h3>Events</h3>
        <ul class="sidebar-list-container">
            <li>Spring Spree</li>
            <li>Technozion</li>
        </ul>
    </div>
</div>