<div class="sidebar">
    <div class="sidebar-section">
        <h3>Classifieds</h3>
        <ul class="sidebar-list-container">
            <li>
                <a>
                    <i class="fa fa-edit fa-fw"></i>
                    <span>
                        Create New Listing.
                    </span>
                </a>
            </li>
            <li>
                <a>
                    <i class="fa fa-mobile-phone fa-fw"></i>
                    <span>
                        Mobiles
                    </span>
                </a>
            </li>
            <li>
                <a>
                    <i class="fa fa-book fa-fw"></i>
                    <span>
                        Books
                    </span>
                </a>
            </li>
            <li>
                <a>
                    <i class="fa fa-arrow-circle-o-right fa-fw"></i>
                    <span>
                        Others
                    </span>
                </a>
            </li>
        </ul>
    </div>
    <div class="sidebar-section">
        <h3>Events</h3>
        <ul class="sidebar-list-container">
            <li>
                <a>
                    <i class="fa fa-edit"></i>
                    <span>
                        Create Event
                    </span>
                </a>
            </li>
            <li>
                <a>
                    <i class="fa fa-calendar-check-o"></i>
                    <span>
                        Spring Spree
                    </span>
                </a>
            </li>
            <li>
                <a>
                    <i class="fa fa-calendar-check-o"></i>
                    <span>
                        Technozion
                    </span>
                </a>
            </li>
        </ul>
    </div>
    <div class="sidebar-section">
        <h3>Groups & Clubs</h3>
        <ul class="sidebar-list-container">
            <li>
                <a>
                    <i class="glyphicon glyphicon-edit"></i>
                    <span>
                        Create Group
                    </span>
                </a>
            </li>
            <li>
                <a>
                    <i class="fa fa-group"></i>
                    <span>
                        Computer Science
                    </span>
                </a>
            </li>
            <li>
                <a>
                    <i class="fa fa-group"></i>
                    <span>
                        1st Year
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>