.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
/* # General styles
================================================== */
* {
  outline: none !important;
}

body {
  min-height: 100%;
  height: 100%;
}
html,
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555555;
  background-color: #F2F4F7;
  font-size: 13px;
}

.full-height {
    min-height: 100%;
    height: 100%;
    box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

.bulletin-container {
    width:550px;
    margin-left:180px;
}
/* # Layout
================================================== */

/* # Typography
================================================== */
/* * * * * * * * * * * *
 * Headlines
 * * * * * * * * * * * */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 300;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h2 {
  font-size: 25px;
}
h3 {
  font-size: 18px;
}
.subtitle {
  display: block;
  padding-bottom: 5px;
  font-weight: 600;
}
.widget-content + h1 {
  margin-top: 0;
}
/* * * * * * * * * * * *
 * Links
 * * * * * * * * * * * */
a {
  color: #4d7496;
}
a:hover {
  color: #4d7496;
}
/* * * * * * * * * * * *
 * Text Colors
 * * * * * * * * * * * */
span.blue {
  color: #54728c;
}
span.green {
  color: #94b86e;
}
span.red {
  color: #e25856;
}
/* # Header
================================================== */
.header {
  z-index: 10030;
}
.navbar {
  background: #003262;
  min-height: 48px;
  filter: none;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-bottom: 4px solid #2a4053;
}
.navbar > .container {
  padding-left: 20px;
  padding-right: 20px;
}
.navbar-right {
  float: right !important;
}
.navbar-left {
  float: left !important;
}
.navbar-text {
  line-height: 48px;
  color: #ffffff;
}
.navbar {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* DEPRECATED
  .nav > li:active, .nav > li.open {
    //border-left-color: rgba(0, 0, 0, 0.28);
    //border-left-color: rgba(0, 0, 0, 0.65);

    + li {
      //border-left-color: rgba(0, 0, 0, 0.65);
    }
  } */

}
.navbar .navbar-brand {
  padding: 0;
  line-height: 48px;
  color: #ffffff;
  text-shadow: 0 1px 0 #000000;
  font-size: 18px;
  width: 230px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  text-align: left;
  padding-left: 0;
  max-width: none;
  margin-left: 0 !important;
  margin-right: 0;
}
.navbar .toggle-sidebar {
  float: left;
  margin-left: -50px;
  display: inline-block;
  position: relative;
  color: #ffffff;
  padding: 14px;
  font-size: 14px;
  text-decoration: none;
}
.navbar .toggle-sidebar:hover {
  background: rgba(255, 255, 255, 0.05);
}
.navbar .navbar-nav {
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}
.navbar .navbar-nav > li > a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.navbar .divider-vertical {
  height: 48px;
  border-left: 1px solid #4d7496;
  border-right: 1px solid #ffffff;
}
.navbar .nav > li {
  line-height: 28px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.navbar .nav > li:first-child {
  border-left: 1px solid rgba(0, 0, 0, 0.21);
}
.navbar .nav > li.nav-toggle {
  display: none;
}
.navbar .nav > li:active,
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle,
.navbar .toggle-sidebar:active {
  color: #ffffff;
  background: #334d63;
  -webkit-box-shadow: 1px 0 0 rgba(0, 0, 0, 0.25) inset, -1px 0 0 rgba(0, 0, 0, 0.25) inset;
  -moz-box-shadow: 1px 0 0 rgba(0, 0, 0, 0.25) inset, -1px 0 0 rgba(0, 0, 0, 0.25) inset;
  box-shadow: 1px 0 0 rgba(0, 0, 0, 0.25) inset, -1px 0 0 rgba(0, 0, 0, 0.25) inset;
}
.navbar .nav > li > a {
  color: #ffffff;
  font-size: 13px;
  text-shadow: 0 1px 0 #000000;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 18px;
  padding-right: 18px;
}
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus {
  color: #ffffff;
  background: #5681a7;
  background: rgba(255, 255, 255, 0.05);
}
.navbar .nav > li > a > span {
  padding-left: 5px;
}
.navbar .nav > li > a > span.username {
  font-weight: bold;
}
.navbar .nav > li > a .badge {
  position: absolute;
  font-size: 10px;
  font-weight: 300;
  top: 8px;
  right: 8px;
  text-align: center;
  height: 14px;
  background-color: #BE4141;
  background-color: rgba(219, 45, 42, 0.8);
  padding: 2px 4px;
  text-shadow: none;
}

.btn-group > .dropdown-menu,
.btn-group > .popover {
  font-size: 13px;
}
.btn-group > .btn {
  font-size: 13px;
}
.btn-group > .btn-lg {
  font-size: 14px;
}
.btn-group > .btn-sm {
  font-size: 12px;
}
.btn-group > .btn-xs {
  font-size: 11px;
}
/* Sidebar & Navigation
================================================== */
#sidebar {
  width: 150px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #f9f9f9;
  height: 100%;
  z-index: 700;
  /* * * * * * * * * * * *
   * Scrollbar
   * * * * * * * * * * * */

  /* * * * * * * * * * * *
   * Search Input
   * * * * * * * * * * * */

  /* Search Results */

  /* * * * * * * * * * * *
   * Navigation
   * * * * * * * * * * * */

  /* * * * * * * * * * * *
   * Sidebar Title
   * * * * * * * * * * * */

  /* * * * * * * * * * * *
   * Sidebar Notifications
   * * * * * * * * * * * */

}
#sidebar * {
  overflow-x: hidden;
  overflow-y: visible;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#sidebar #sidebar-content {
  float: left;
  width: 100% !important;
}
#sidebar #divider {
  background: #ececec;
  min-height: 100%;
  position: absolute;
  margin-left: 250px;
  right: -1px;
  width: 8px;
  border-left: 1px solid #d1d1d1;
  border-right: 1px solid #d1d1d1;
}
#sidebar .resizeable {
  cursor: col-resize;
  background: url(../img/sidebar/sidebar-divider-dots.png) 2px 50% no-repeat #ececec !important;
}
#sidebar .slimScrollDiv {
  float: left !important;
  width: 100% !important;
}
#sidebar .slimScrollBar {
  width: 5px !important;
  background-color: #878787 !important;
  right: 0px !important;
  border-left: 1px solid #555555;
  border-right: 1px solid #555555;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
#sidebar .sidebar-search {
  margin: 15px;
  margin-right: 23px;
}
#sidebar .sidebar-search .input-box {
  border-bottom: 1px solid #d9d9d9 !important;
  padding-bottom: 2px;
}
#sidebar .sidebar-search span {
  display: block;
  overflow: hidden;
}
#sidebar .sidebar-search input {
  width: 100%;
}
#sidebar .sidebar-search input,
#sidebar .sidebar-search .submit {
  margin: 0;
  border: 0;
  box-shadow: none;
  color: #555555;
  background-color: #f9f9f9 !important;
}
#sidebar .sidebar-search .submit {
  display: block;
  float: right;
  margin-top: 8px;
  opacity: 0.7;
}
#sidebar .sidebar-search .submit:hover,
#sidebar .sidebar-search .submit:focus {
  opacity: 1.0;
}
#sidebar .sidebar-search-results {
  background-color: #ececec;
  padding: 10px;
  border-top: 1px solid #b9b9b9;
  border-bottom: 1px solid #dfdfdf;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
  display: none;
}
#sidebar .sidebar-search-results.open {
  display: block;
}
#sidebar .sidebar-search-results .close {
  position: relative;
  top: -2px;
  right: 10px;
  font-size: 11px;
  line-height: 25px;
}
#sidebar .sidebar-search-results .close:hover {
  text-decoration: none;
  cursor: pointer;
  opacity: .5;
}
#sidebar .sidebar-search-results .title {
  font-weight: 600;
  padding: 5px 0;
  color: #888888;
  text-transform: uppercase;
  font-size: 12px;
}
#sidebar .sidebar-search-results .title > span {
  font-weight: 700;
}
#sidebar .sidebar-search-results .notifications li {
  padding-left: 0;
  padding-right: 0;
  margin-right: 5px;
  border-bottom-color: #d3d3d3;
}
#sidebar ul {
  list-style: none;
  margin: 15px 0;
  padding: 0;
  /* * * * * * * * * * * *
     * Mainmenu and submenus
     * * * * * * * * * * * */

}
#sidebar ul > li.current > a {
  border-right: 10px solid #003262;
}
#sidebar ul > li.current > a > .arrow {
  right: -3px !important;
}

#sidebar ul li:last-child,
#sidebar ul li.open,
#sidebar ul li.open-default,
#sidebar ul li.open-fixed {
  border-bottom: none;
}
#sidebar ul li.current > ul {
  display: block;
}
#sidebar ul li.current .label.pull-right {
  margin-right: 10px;
}
#sidebar ul li.open-default > ul,
#sidebar ul li.open-fixed > ul {
  display: block;
}
#sidebar ulli .label {
  padding: 5px 8px;
  text-shadow: none;
}
#sidebar ul li .label.pull-right {
  position: absolute;
  right: 15px;
  margin-right: 20px;
}
#sidebar ul li .arrow {
  line-height: 20px;
  position: absolute;
  right: 10px;
}
#sidebar ul li {
  display: block;
  position: relative;
  margin: 0;
  border: 0;
  padding: 10px 10px;
  padding-left: 20px;
  color: #555555;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 1px solid #ebebeb;
}
#sidebar ul li:hover {
  background: #fdfdfd;
}
#sidebar ul li:active {
  background: #ebebeb;
}
#sidebar ul li{
  color: #6f6f6f;
  padding-right: 10px;
  line-height: 20px;
}

#sidebar ul > li.current,
#sidebar ul > .open {
  background: #fdfdfd;
}

#sidebar .sidebar-title {
  background-color: #ececec;
  padding: 10px;
  font-weight: 600;
  border-top: 1px solid #b9b9b9;
  border-bottom: 1px solid #dfdfdf;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset;
}
#sidebar .notifications {
  margin: 0;
  padding: 0;
  list-style: none;
}
#sidebar .notifications li {
  padding: 15px;
  border-bottom: 1px solid #ebebeb;
}
#sidebar .notifications li:last-child {
  border-bottom: none;
}
#sidebar .notifications li a {
  color: #555555;
}
#sidebar .notifications li a:hover {
  color: #4d7496;
}
#sidebar .notifications .col-left {
  float: left;
  margin-right: -100%;
}
#sidebar .notifications .col-right {
  float: left;
  width: 100%;
}
#sidebar .notifications .col-right.with-margin {
  margin-left: 35px;
}
#sidebar .notifications .message {
  white-space: normal;
}
#sidebar .notifications .label {
  padding: 7px;
  width: 24px;
  text-align: center;
  display: inline-block;
}
#sidebar .notifications .time {
  color: #888888;
  display: block;
  padding-top: 5px;
  font-size: 11px;
}
.sidebar-fixed {
  position: fixed !important;
  top: 52px;
}
.fill-nav-space {
  height: 52px;
}

/* # Forms
================================================== */
/* * * * * * * * * * * *
 * General
 * * * * * * * * * * * */
form {
  margin: 0 5px;
}
label,
input,
button,
select,
textarea {
  font-size: 13px !important;
}
label {
  font-weight: 600;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  -webkit-appearance: none !important;
  color: #555555;
  padding: 6px 6px !important;
  font-weight: normal;
  vertical-align: top;
  background-color: #ffffff;
  background-image: none !important;
  filter: none !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #4d7496;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 3px rgba(0, 0, 0, 0.1);
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.form-control {
  height: 32px;
  font-size: 13px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
select.form-control,
textarea.form-control {
  padding: 0 5px;
}
select.form-control:focus,
textarea.form-control:focus {
  border-color: #4d7496;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 3px rgba(0, 0, 0, 0.1);
}
/* * * * * * * * * * * *
 * Sizing
 * * * * * * * * * * * */
.input-xxlarge {
  width: 465px;
}
.multiple {
  width: 100%;
}
.form-control.input-small {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  height: 30px;
}
/* Height Sizing */
.input-sm {
  height: 26px;
  font-size: 12px !important;
}
.input-lg {
  height: 45px;
  font-size: 16px !important;
}
/* BS2 backward compatibility sizes */
.input-width-mini {
  width: 60px !important;
}
.input-width-small {
  width: 90px !important;
}
.input-width-medium {
  width: 150px !important;
}
.input-width-large {
  width: 210px !important;
}
.input-width-xlarge {
  width: 270px !important;
}
.input-width-xxlarge {
  width: 530px !important;
}
.input-block-level {
  display: block;
  width: 100%;
}
/* * * * * * * * * * * *
 * Textarea
 * * * * * * * * * * * */
textarea {
  border-color: #cccccc;
}
textarea.auto {
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  -o-transition: height 0.2s;
  transition: height 0.2s;
}
textarea.col-md-12 {
  resize: vertical;
}
input,
textarea {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* * * * * * * * * * * *
 * Selects
 * * * * * * * * * * * */
.multiple {
  padding: 8px 10px;
  height: 150px !important;
  font-size: 12px;
  border: 1px solid #DADADA;
}
/* * * * * * * * * * * *
 * File Input
 * * * * * * * * * * * */
input[type="file"] {
  height: auto;
  line-height: normal;
  margin-top: 5px;
}
/* * * * * * * * * * * *
 * Checkboxes and Radios
 * * * * * * * * * * * */
.checkbox,
.radio {
  font-weight: normal;
}
.next-row {
  display: block;
  margin-top: 10px;
}
/* * * * * * * * * * * *
 * Disabled States
 * * * * * * * * * * * */
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  background-color: #f9f9f9;
  color: #adadad;
}
.help-block,
.help-inline {
  color: #adadad;
}
/* * * * * * * * * * * *
 * Icons
 * * * * * * * * * * * */
.control-label > i {
  margin-right: 6px;
}
.controls {
  position: relative;
}
.field-icon {
  position: absolute;
  top: 9px;
  right: 25px;
  display: block;
  font-size: 14px;
  line-height: 1;
}
.input-icon > input {
  padding-left: 30px !important;
}
.input-icon > i {
  color: #d1d1d1;
  display: block !important;
  position: absolute !important;
  z-index: 1;
  margin: 8px 2px 4px 10px;
  width: 16px;
  height: 16px;
  font-size: 16px;
  text-align: center;
}
